@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@charset "UTF-8";

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
    display: inline-block;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn-login {
    background: #f79c65;
    background: -webkit-linear-gradient(to right, #f87a2b, #f79c65);
    background: linear-gradient(to right, #f87a2b, #f79c65);
    color: #fff;
    border-radius: 0px;
    border: none;
    border-color: #636b6f;
    font-size: 16px;
}
.btn-login:hover {
    background: #f79c65;
    background: -webkit-linear-gradient(to left, #f87a2b, #f79c65);
    background: linear-gradient(to left, #f87a2b, #f79c65);
    color: #fff;
    transition: 0.3s;
    border: none;
    border-radius: 0px;
    font-size: 20px;
}
.card-header {
    background-color: #ff7411;
    border: none;
    font-size: 30px;
    border-radius: 0px;
    color: #fff;
}
.card {
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px;
}
.card-footer {
    border: none;
    border-radius: 0px;
    background-color: #fff;
}
/* .form-control {
    border-radius: 2px;
} */

#content {
    margin-top: 5%;
    margin-bottom: 5%;
}

#footers {
    background-color: #3b84c4;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}
/* #6cb2eb
#f79c65
*/
nav {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
}

.card {
    display: block;
}

.centerWithText {
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.center {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
