html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
    display: inline-block;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn-login {
    color: #fff;
    background-color: #6cb2eb;
    border-radius: 5px;
    border-color: #636b6f;
    font-size: 16px;
}
.btn-login:hover {
    color: #fff;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 20px;
    background-color: #339bf0;
}
.card-header {
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
}
.card {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
.card-footer {
    border: none;
    background-color: #fff;
}

#content {
    margin-top: 5%;
    margin-bottom: 5%;
}

#footers {
    background-color: #6cb2eb;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
}

nav {
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
}

.card {
    display: block;
}
